<h1>Cars Page</h1>

    <input type="text" ng-model="vm.newCar.year" placeholder="Year">
    <select ng-model="vm.newCar.company_id" ng-options="company.id as company.name for company in vm.companies.list track by company.id"></select>                
    <input type="text" ng-model="vm.newCar.model" placeholder="Model">
    <input type="text" ng-model="vm.newCar.nickname" placeholder="Nickname">   
    <button ng-click="vm.addNewCar(vm.newCar)">Add Car</button>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Nickname</th>
                    <th>Country of Origin</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in vm.cars.list">
                    <td>{{car.year}}</td><td>{{car.name}}</td><td>{{car.model}}</td><td>{{car.nickname}}</td><td>{{car.country}}</td>
                    <td><button ng-click="vm.deleteCar(car)">Delete</button></td>                   
                </tr>
            </tbody>
        </table>
    </div>